<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="resources grid grid-3col">
          <div class="resource flex-group-center">
            <label for="data.hitpoints.value" class="resource-label">hitpoints</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.hitpoints.value" value="{{data.hitpoints.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.hitpoints.max" value="{{data.hitpoints.max}}" data-dtype="Number"/>
            </div>
          </div>
  
          <div class="resource flex-group-center">
            <label for="data.abilitypoints.value" class="resource-label">abilitypoints</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.abilitypoints.value" value="{{data.abilitypoints.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.abilitypoints.max" value="{{data.abilitypoints.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="resource flex-group-center">
            <label for="data.stress.value" class="resource-label">stress</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.stress.value" value="{{data.stress.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.stress.max" value="{{data.stress.max}}" data-dtype="Number"/>
            </div>
          </div>  
        </div>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="equipment">equipment</a>
      <a class="item" data-tab="ability">ability</a>
      <a class="item" data-tab="system">system</a>
      <a class="item" data-tab="module">module</a>
      <a class="item" data-tab="effects">Effects</a>
    </nav>
</form>
